{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block back_link %}
    {% if mb %}
        <p><a class=back-link href="{% url 'munger_tools' mb.id %}">< Munger Tools</a></p>
    {% else %}
        <p><a class=back-link href="{% url 'munger_builder_index' %}">< Mungers</a></p>
    {% endif %}
{% endblock %}


{% block content %}
    <h3>Setup Munger</h3>
    <div class=form-container>
      {% crispy form %}
      {% if mb %}
        <div class="delete-munger-holder">
            <input class="btn btn-danger" type="submit" value="Delete" onclick="deleteMunger({{ mb.id }})"/>
        </div>
      {% endif %}
    </div>

{% endblock content %}

{% block extra_js %}
<script src="/static/jquery.cookie.js"></script>
<script>
  function deleteMunger(mungerID) {
    $.ajax({
      beforeSend(jqXHR) {
        jqXHR.setRequestHeader('x-csrftoken', $.cookie('csrftoken'));
      },
      type: 'DELETE',
      url: `/script_builder/mungers/${mungerID}`,
      success: function(response) {
        window.location.href = '/script_builder';
      },
    });
  }
</script>
{% endblock extra_js %}
