{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block back_link %}
    <p><a class=back-link href="{% url 'app_index' %}">< App Index</a></p>
{% endblock %}

{% block content %}
    <h2>Munger Builders</h2>
    <a class="index-link index-heading" href="{% url 'munger_builder_setup' %}">New Munger Builder...</a>
    {% if munger_builder_list %}
        {% for munger_builder in munger_builder_list %}
            <h3><a href="{% url 'munger_tools' munger_builder.id %}" id='{{ munger_builder.id }}' name="run" type="submit" >{{ munger_builder.munger_name }}</a></h3>
        {% endfor %}
    {% endif %}
{% endblock content %}
