{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load humanize %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}pivot_table.css" rel="stylesheet" media="screen">
{% endblock %}

{% block back_link %}
    <p><a class=back-link href="{% url 'munger_tools' mb.id %}">< Munger Tools</a></p>
{% endblock %}

{% block content %}
    <div class="header-container">
      <h3 style="display:inline-block;">{{ mb.munger_name }}</h3>
    </div>
    <div id="main-pivot-wrapper" class="main-pivot-wrapper">
      <div id="pivot-app"></div>
      {% render_bundle 'main' %}
      <div id="main-dropzone-container" class="main-dropzone-container clear">
          <div id="left-dropzone-container" class="left-dropzone-container">
            <div id="index-dropzone" class="dropzone index-dropzone">
              <span>Index Fields</span>
              <div id="indexList" type="index" class="index-dropzone">
                {% for field in fields %}
                  {% for field_type in field.field_types.all %}
                    {% if field_type.type_name == 'index' %}
                      <div field-id="{{ field.id }}" type="{{ field_type.type_name }}" class="draggable-clone {{ field_type.type_name }}-field list-group-item">
                        <div class="field-text">
                          <span class="agg-text"></span>
                          <span class="clone-text editable-{{ field.id }} name-text">{{ field.active_name }}</span>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div id="right-dropzone-container" class="right-dropzone-container">
            <div id="column-dropzone" class="dropzone column-dropzone">
              <span>Column Fields</span>
              <div id="columnList" type="column" class="column-dropzone">
                {% for field in fields %}
                  {% for field_type in field.field_types.all %}
                    {% if field_type.type_name == 'column' %}
                      <div field-id="{{ field.id }}" type="{{ field_type.type_name }}" class="draggable-clone {{ field_type.type_name }}-field list-group-item">
                        <div class="field-text">
                          <span class="agg-text"></span>
                          <span class="clone-text editable-{{ field.id }} name-text">{{ field.active_name }}</span>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
            <div id="agg-dropzone" class="dropzone agg-dropzone">
              <span>Aggregate Fields</span>
              <div id="aggList" type="agg" class="agg-dropzone">
                {% for field in fields %}
                  {% for field_type in field.field_types.all %}
                    {% if field_type.is_agg %}
                      <div field-id="{{ field.id }}" type="{{ field_type.type_name }}" class="draggable-clone {{ field_type.type_name }}-field list-group-item">
                        <div class="field-text">
                          <span class="agg-text"></span>
                          <span class="clone-text editable-{{ field.id }} name-text">{{ field.active_name }}</span>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
      </br>
    </div>
    <div id="mb-id" name="mb-id" class="hidden" value="{{ mb.id }}"></div>
    <div id="field-types" name="field-types" class="hidden" value="{{ field_type_namess }}"></div>
{% endblock content %}

{% block extra_js %}
<!-- <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
<script src="https://cdn.rawgit.com/RubaXa/Sortable/dev/Sortable.js"></script>
<script src="{{ STATIC_URL }}jquery.editable.min.js"></script>
<script src="{{ STATIC_URL }}pivot_table.js"></script> -->
{% endblock %}
