{% extends "base.html" %}
{% load humanize %}

{% block back_link %}
  <p><a class=back-link href="{% url 'munger_tools' mb.id %}">< Munger Tools</a></p>
{% endblock %}

{% block content %}
    <h3>{{ mb.munger_name }}</h3>

    {% if fields %}
      <div id="field-source-bank" class="field-source-bank">
        {% for field in fields %}
            <div id="field-{{ field.id }}-source" field-id="{{ field.id }}" type="None" class="draggable draggable-source drag-drop">
              <div class="field-text">
                <span class="agg-text"></span>
                <span id="source-text-{{ field.id }}" field-id="{{ field.id }}" class="source-text editable-{{ field.id }} name-text">{{ field.active_name }}</span>
                <input id="edit-{{ field.id }}" type="image" src="{{ STATIC_URL }}edit-icon.png" value="edit" class="btn-{{ field.id }} small-image-button">
              </div>
            </div>
        {% endfor %}
      </div>
      <div id="active-fields" class="active-fields">
        {% for field in fields %}
          {% for field_type in field.field_types.all %}
            <div field-id="{{ field.id }}" type="{{ field_type.type_name }}" class="draggable drag-drop">
              <div class="field-text">
                <span class="agg-text"></span>
                <span class="clone-text editable-{{ field.id }} name-text">{{ field.active_name }}</span>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% else %}
        <p>No fields are available.</p>
    {% endif %}

    <!-- <div id="no-drop" class="draggable drag-drop"> #no-drop </div> -->

    {% for field_type in field_types %}
      <div id="{{ field_type }}-dropzone" type="{{ field_type }}" class="dropzone"> {{ field_type|capfirst }} Fields</div>
    {% endfor %}

    </br>
    <input id="save-pivot-fields" name="save-pivot-fields" class="btn btn-primary" type="submit" value="Save" />
    <div id="mb-id" name="mb-id" class="hidden" value="{{ mb.id }}"></div>
    <div id="field-types" name="field-types" class="hidden" value="{{ field_types }}"></div>

{% endblock content %}

{% block extra_js %}
<script src="{{ STATIC_URL }}pivot_table.js"></script>
{% endblock %}
