{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ STATIC_URL }}home-icon.png">
    <title>Munger Builder</title>

    <link href="{{ STATIC_URL }}bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}extra_css.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}pivot_table.css" rel="stylesheet" media="screen">

  </head>
  <body>

    {% include "nav_bar.html" %}


    <div id="content" class='main-content'>

        {% if messages %}
          </br>
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% else %}
          </br>
        {% endif %}

        {% block back_link %}{% endblock %}

        {% block content %}{% endblock %}
    </div>
    <script src="{{ STATIC_URL }}jquery-2.1.4.min.js"></script>
    <script src="{{ STATIC_URL }}interact.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}jquery.editable.min.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
