import pandas as pd
import numpy as np

import os
import traceback
from glob import glob

{% if input_path %}
input_file = glob(os.path.abspath(r'{{ input_path }}'))[0]
{% else %}
input_file = 'ADD INPUT FILE PATH HERE'
{% endif %}

df = pd.read_csv(input_file)

pivot_output = pd.pivot_table(
    df,
    index={{ index_fields }},
    values={{ agg_field_names }},
    aggfunc={ {% for key, value in aggfunc_dict.iteritems() %}
        '{{ key }}': {{ value }},{% endfor %}
    },
)

pivot_output.to_csv(os.path.abspath(r'{{ output_path }}'))
