import pandas as pd
import numpy as np

import os

{% if mb.input_path %}
input_file = os.path.abspath(r'{{ mb.input_path }}')
{% else %}
input_file = 'ADD INPUT FILE PATH HERE'
{% endif %}

print('Reading Data From:\n{0}\n'.format(input_file))
{% if mb.rows_to_delete_top and mb.rows_to_delete_top != 0 %}
df = pd.read_csv(input_file, skiprows=mb.rows_to_delete_top)
{% else %}
df = pd.read_csv(input_file)
{% endif %}

{% if mb.rows_to_delete_bottom and mb.rows_to_delete_bottom != 0 %}
df = df.drop(df.index[-{{ mb.rows_to_delete_bottom }}:])
{% endif %}

{% if mb.rename_field_dict %}
print('\nRenaming Fields...')
df = df.rename(columns={{ mb.rename_field_dict }})
{% endif %}

print('\nBuilding Pivot Table...')
pivot_output = pd.pivot_table(
    df,
    index={{ mb.index_fields }},
    columns={{ mb.column_fields }},
    values=[{% for key in mb.aggregate_names_with_functions().keys() %}'{{ key }}',{% endfor %}],
    aggfunc={
      {% for key, value in mb.aggregate_names_with_functions().items() %}
        '{{ key }}': [{{ value }}],
      {% endfor %}
    },
    fill_value=0,
)
print(pivot_output)

print('\nWriting Output CSVs...')
pivot_output.to_csv(os.path.abspath(r'{{ mb.get_output_path }}'))

print('Finished!')
