/*BASE*/

.container {
  min-width: 100%;
}

.main-content {
  margin-left: 10px;
  padding-top: 50px;
}

.delete-munger-holder {
  margin-top: -49px;
  margin-left: 65px;
}

.index-link {
  font-size: 25px;
}
.index-heading {
  font-weight: bold;
}
.index-link-small {
  font-size: 20px;
}

.back-link {
  font-size: 18px;
}

.home-button {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.form-actions {
  display: inline-block;
  margin-left: 5px;
}

.form-container {
  width: 50%;
}

.user-info {
  display: inline-block;
  margin-right: 10px;
  color: #9d9d9d;
}

.bootstap-main-modify {
  margin-left: -10px;
  margin-top: -20px;
}

.footer-element {
  padding-right: 20px;
  display: inline-block;
}

.contact-form {
  display: block;
}

.logo-container {
  display: inline-block;
  float: left;
  margin-top: 10px;
  padding-right: 10px;
}

.main-logo-container {
  display: inline-block;
  margin-right: 20px;
}

.main-logo {
  vertical-align: baseline;
}

.main-jumbo-container {
  display: inline-block;
}

/*FIELDS*/

.field-table {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: large;
}

.field-cell {
  padding-right: 10px;
  padding-left: 5px;
}

.field-heading-block {
  margin-left: 45px;
  min-width: 1120px;
  margin-bottom: 2px;
}
.field-heading {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 115px;
  font-weight: bold
}
.field-entry {
  font-size: 20px;
}
.field-name-holder {
  width: 175px;
  border: solid #000;
  border-width: 1px 1px;
}
.field-type-holder {
  width: 300px;
  /*border: solid #000;
  border-width: 1px 1px 1px 0px;*/
}
.field-name-input {
  display: inline-block;
  width: 175px;
}
.field-type-input {
  display: inline-block;
  width: 300px;
}
.field-delete-holder {
  display: inline-block;
}

.field-form {
  margin-left: 20px;
}
.field-upload-form {
  margin-top: 10px;
  margin-left: 20px;
}
.form-actions {
  display: inline-block;
  margin-left: 5px;
}
