/*BASE*/

.main-content {
  margin-left: 10px;
}

.index-link {
  font-size: 25px;
}
.index-heading {
  font-weight: bold;
}
.index-link-small {
  font-size: 20px;
}

.back-link {
  font-size: 18px;
}

.home-button {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

fieldset {
  min-width: 1400px;
}

.form-actions {
  display: inline-block;
  margin-left: 5px;
}

.user-session-info {
  float: right;
  margin-right: 10px;
}
