/*sortable*/
.list-group-item {
  cursor: move;
  cursor: -webkit-grabbing;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
  width: 250px;
  height: 35px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
  color: #fff;
  background-color: #29e;
}

.dropzone {
  background-color: #ccc;
  border-radius: 4px;
  margin: 5px auto 0px;
  padding: 10px;
  display: inline-block;
  transition: background-color 0.3s;
  min-height: 130px
}

.zone-heading {
  display: block;
  text-transform: capitalize;
}

.field-source-bank {
  display: inline;
}

.left-dropzone-container {
  display: inline-block;
  margin-right: 4px;
  min-height: 100px;
}
.index-dropzone {
  width: 270px;
}

.right-dropzone-container {
  display: inline-block;
  min-width: 270px;
  width: calc(100% - 280px);
  min-height: 100px;
}
.column-dropzone {
  width: 100%;
}
.aggregate-dropzone {
  width: 100%;
}

.drop-active {
  border-color: #aaa;
}
.drop-target {
  background-color: #b7b7b7;
}
.tap-target {
  color: #000;
}

.index-field {
  background-color: #00FF44;
}
.sum-field {
  background-color: #008000;
}
.count-field {
  background-color: #800000;
}
.mean-field {
  background-color: #800080;
}
.median-field {
  background-color: #c06000;
}
.column-field {
  background-color: #00CCFF;
}

/*Edit Button Transforms*/

.field-text {
  margin-top: -5px;
  margin-left: -15px;
  display: inline-block;
  width: 190px;
  vertical-align: top;
  max-height: 23px;
  line-height: 23px;
  overflow: hidden;
}
.field-text:first-letter {
  text-transform:capitalize;
}

.field-name-input {
  background: transparent;
  border: none;
  width: 80%;
  text-align: center;
}

.field-name-input:disabled {
  cursor: inherit;
}

.field-name-input:not(:disabled) {
  background: #59b3f2;
}

.small-image-button {
  position: absolute;
  width:15px;
  height:15px;
}

.small-image-button.right {
  right: 10px;
}
.small-image-button.left {
  left: 10px;
}

.delete-field-button {
  position: absolute;
  left: 10px;
  width:15px;
  height:15px;
}

.save-pivot-button {
  margin-left: 10px;
  margin-top: -10px;
}

.add-field-button-container {
  float: left;
  margin-top: 10px;
}

.editable {
  height: 30px;
  background-color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear {
  clear: both;
}

.aggregate-chooser-menu {
  cursor: pointer;
  z-index: 1;
  display: inline-block;
  position: absolute;
  top: 33px;
  right: 0px;
  color: #000;
  text-align: right;
  text-transform: capitalize;
  font-size: 15px;
  border: gray;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
}

.aggregate-type-choice {
  background-color: #FFF;
  padding: 5px;
}
.aggregate-type-choice:hover {
  background-color: #e3f2fd;
  padding: 5px;
}

.script-builder-container {
  display: inline-block;
  width: 60%;
  min-width: 650px;
}

.additional-options-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 30px;
  width: 25%;
}

.additional-options-field {
  margin-top: 20px;
}

.additional-options-input {
  display: block;
}
.additional-options-input.text {
  width: 100%;
}

.munger-name-input {
  border: none;
  background: inherit;
}

.default-aggregate-container {
  position: absolute;
}
.default-aggregate-dropdown {
  font-size: 10px;
  padding: 5px 5px;
  margin-left: 5px;
}
